footer.footer 
    .container 
        .rules__head 
            h2 
                span Предвосхищаем 
                span завтра
            h3 чтобы восхищать сегодня
        .footer__inner 
            a(href="https://sbermarketing.ru/" target="_blank").footer__item 
                .footer__item-head 
                    picture 
                        source(srcset="img/webp/footer-1@x2.webp", type="image/webp")
                        img(src="img/footer-1@x2.png", alt="")
                p СберМаркетинг
            a(href="https://t.me/sbermarketing" target="_blank").footer__item 
                .footer__item-head 
                    picture 
                        source(srcset="img/webp/footer-2@x2.webp", type="image/webp")
                        img(src="img/footer-2@x2.png", alt="")
                p Телеграм канал
            a(href="https://vk.com/sbermarketing_official" target="_blank").footer__item 
                .footer__item-head 
                    picture 
                        source(srcset="img/webp/footer-3@x2.webp", type="image/webp")
                        img(src="img/footer-3@x2.png", alt="")
                p Вконтакте
            a(href="https://www.youtube.com/@sbermarketing" target="_blank").footer__item 
                .footer__item-head 
                    picture 
                        source(srcset="img/webp/footer-4@x2.webp", type="image/webp")
                        img(src="img/footer-4@x2.png", alt="")
                p Youtube
                    

        







script(src="js/jquery-3.6.1.js")
script(src="js/fancybox.js") 
script(src="js/swiper.js")
script(src="js/main.js")    