header.header
    .container 
        .header__inner 
            .header__logo.jsAnchorLogo 
                img(src="img/svg/logo.svg", alt="") 
            ul.header__menu.jsMenu 
                li.header__menu-item 
                    a(href="#actual").header__menu-link.jsAnchorLink актуальность
                li.header__menu-item 
                    a(href="#factors").header__menu-link.jsAnchorLink факторы
                li.header__menu-item 
                    a(href="#rules").header__menu-link.jsAnchorLink правила
                li.header__menu-item 
                    a(href="#practice").header__menu-link.jsAnchorLink практики
                li.header__menu-item 
                    a(href="#cases").header__menu-link.jsAnchorLink кейсы
                
                li.header__menu-item 
                    a(href="#team").header__menu-link.jsAnchorLink команда
            .header__burger.jsBurger 
                span 
                span 
                span 