meta(charset="UTF-8")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
meta(property="og:title" content="СберМаркетинг & X5 Group. Предвосхищаем завтра, чтобы восхищать сегодня")
meta(property="og:type" content="article")
meta(property="og:image" content="https://ru-dealer.ru/img/actual.jpg")
link(rel="icon", href="img/svg/fav.svg" type="image/svg+xml")
link(rel="stylesheet", href="css/swiper.css")
link(rel="stylesheet", href="css/fancybox.css")
link(rel="stylesheet", href="css/style.css")